body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
p {
  color: #434455;
}
.logo-link {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16666667;
  text-decoration: none;
}
.logo-header {
  color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}
.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.link-studio {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}
.link-studio:hover,
.link-studio:focus {
  color: #404bbf;
}

.link-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.address {
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: #404bbf;
}

.hero {
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07142857;
}

.button {
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  background: #4d5ae5;
  box-shadow: rgba 0, 0, 0, 0.15;
}

.button:hover {
  background: #404bbf;
}

.section2 {
  background-color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
}

.text {
  color: #f4f4fd;
}
